.converter {
  width: 100%;
  max-width: min(400px, 80vw);
  padding-inline: 30px;
  padding-block: 10px;
  margin-bottom: 20px;
  background: #eee;
  box-shadow: 2px 2px 10px #0243;
  border-radius: 4px;
  border: 1px solid #0002;
}

.name {
  color: #444;
}

.symbol {
  color: #c58f3c;
}

.value {
  text-align: right;
  color: #425ac3;
  margin-bottom: 10px;
}

.input {
  display: none;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #003;
  border-radius: 4px;
}
.converter:hover {
  border: 1px solid #00d5;
}

.converter:hover .input {
  display: block;
}